name: SLSA Release

on:
  workflow_dispatch:
  release:
    types: [created]

permissions: read-all

jobs:
  # Build and generate provenance
  build:
    permissions:
      id-token: write
      contents: write
      actions: read
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v2.0.0
    with:
      go-version: "1.24"
      config-file: .slsa/config.yml
      evaluated-envs: "VERSION:${{ github.ref_name }}"

  # Upload assets to release
  upload:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.go-binary-name }}
          path: ./artifacts

      - name: Download provenance
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.go-provenance-name }}
          path: ./provenance

      - name: Upload to release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./artifacts/*
            ./provenance/*.intoto.jsonl
